{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <!--<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">-->
{% endblock %}
{% block title %}{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">首頁</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-">
            <li><a href="/">aaa</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/updateDB">更新資料庫</a></li>
            <li><a href="/login" >登入</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
    {% block page_content %}
    {% endblock %}
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
